

body {
    background-color: white;
}

.container {
  max-width:20%;
}

.menu-list {

    /* display: inline-block; */
		/* text-align: center; */
    list-style-type: none;
    font: normal 16px Avenir;

}

li {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 13%;
	border:1px solid #CDD6D5;


}
a{

	text-decoration: none;
	color: #515454;
}
.colorVerde{
	color: #66cc99;
}
a :hover{
	color:#66cc99;


}
